.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        font-size: 1vw;

        @media screen and (max-width: 768px) {
            width: calc(90% - 10em);
        }

        .form-title {
            color: var(--colors-eirie-black);
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
}