// Import Fonts
@import url('./assets/fonts/fonts.scss');

// Import Styles
@import url('./assets/css/normalize.scss');

// Variables
* {
  --colors-green: #00b894;
  --colors-eirie-black: #201D1A;
  --colors-red-salsa: #D2161E;
  --colors-red-valorant: #ea555a;
  --colors-light-red-salsa: #FF4152;
  --colors-dark-red-salsa: #a1242b;
  --colors-yellow: #FFCC00;
  --colors-light-yellow: #FFE066;
  --colors-royal-blue: #0A2463;
  --colors-cg-blue: #247BA0;
  --colors-platinum: #E2E2E2;
  --colors-white: #FFFFFF;
  --colors-light-background: #EEF0F3;
  --colors-dark-background: #0f1921;
  --colors-light-grey: #797d85;
  --colors-grey: #797D85FF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--colors-eirie-black);
  background-color: var(--colors-light-background);
  font-size: .6rem;
  line-height: 1.5;
  height: 100vh;

  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.1rem;
  }

  .red-button {
    font-size: .75rem;
    font-weight: 600;
    color: var(--colors-white);
    background: var(--colors-red-salsa);
    border: 2px solid var(--colors-red-salsa);
    border-radius: 5px;
    padding: .45rem .90rem;
    width: 100%;
    transition: .25s ease-in-out;
    &:hover {
      background: transparent;
      color: var(--colors-red-salsa);
      transition: .25s ease-in-out;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    height: calc(80% - 2rem);
    @media screen and (max-width: 768px) {
      height: calc(90% - 2em);
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  a {
    color: var(--colors-platinum);
    text-decoration: none;
  }

  .red-salsa {
    color: var(--colors-red-salsa);
  }

  .royal-blue {
    color: var(--colors-royal-blue);
  }

  .cg-blue {
    color: var(--colors-cg-blue);
  }
}
