form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2em;
  font-size: .75em;
  @media screen and (max-width: 768px) {
    font-size: 1.75em;
  }

  .button-submit {
    font-weight: 600;
    color: var(--colors-white);
    background: var(--colors-red-salsa);
    border: 2px solid var(--colors-red-salsa);
    border-radius: 5px;
    padding: .45rem .90rem;
    width: 100%;
    transition: .25s ease-in-out;
    font-size: 1em;
    @media screen and (max-width: 768px) {
      font-size: 1.75em;
    }
    &:hover {
      background: transparent;
      color: var(--colors-red-salsa);
      transition: .25s ease-in-out;
    }
  }
}