.biggest-daily-match {
  width: 49%;
  height: 100%;
  background-color: var(--colors-white);
  border-radius: 1rem;
  font-size: 1rem;
  .biggest-daily-match-header {
    position: relative;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 45%;
    display: flex;
    border-bottom: 2px solid var(--colors-platinum);

    .hover-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--colors-platinum);
      background-color: rgba(0, 0, 0, 0.75);
      font-size: 1.5rem;
      font-weight: 600;
      opacity: 0;
      transition: opacity .5s ease-in-out;
      user-select: none;
      &:hover {
        opacity: 1;
        transition: opacity .5s ease-in-out;
      }

      .startTime {
        text-align: center;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }
  .biggest-daily-match-body {
    height: 55%;
    display: flex;
    flex-direction: column;
    .biggest-daily-match-title {
      height: 20%;
      padding: .5rem .75rem;
      align-items: baseline;
      img {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
        transform: translateY(0.2em);
      }
      p {
        height: 3em;
        margin: 0;
      }
    }
    .biggest-daily-match-teams {
      height: 30%;
      margin-left: 1rem;
      font-weight: 800;

      .biggest-daily-match-team1,
      .biggest-daily-match-team2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 1.75rem;
        img {
          width: 1rem;
          height: 1rem;
          margin-right: .5rem;
          transform: translateY(0.2em);
        }
      }
    }
    .biggest-daily-match-buttons {
      height: 50%;
      display: flex;
      margin-top: .5rem;
      flex-direction: row;
      align-items: center;
      padding: 0 .5rem;
      justify-content: space-around;
      .biggest-daily-match-button {
        width: 30%;
        background-color: var(--colors-yellow);
        padding: .3rem 1rem .5rem 1rem;
        border-radius: .5rem;
        border: none;
        font-size: .75rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: var(--colors-light-yellow);
        }
        p {
          margin: 0;
        }
        .biggest-daily-match-button-odds {
          font-weight: 800;
        }
      }
    }
  }
}