.match {
  width: calc(100% - 2em);
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 1em 1em;
  background: var(--colors-white);
  border-radius: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 2vw;
  }

  .team1 {
    flex-direction: row;
  }

  .team2 {
    flex-direction: row-reverse;
  }

  .draw {
    justify-content: center;
  }

  >div {
    width: calc(100% / 3 - 3em);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1.5em;
    gap: 1em;

    .team-info {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .match-team-logo {
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
          overflow: hidden;
          background: var(--colors-platinum);
          padding: 0.25em;
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }
    }

    .bet-part {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
  }

  .bet-match-button {
    width: 5em;
    height: 2em;
    background: var(--colors-yellow);
    border: none;
    border-radius: .5rem;
    cursor: pointer;

    &:hover {
      background: var(--colors-light-yellow);
    }

    .bet-match-button-odds {
      margin: unset;
    }
  }
}