.biggest-daily-match {
  width: 49%;
  height: 20em;
  background-color: var(--colors-white);
  border-radius: 1rem;
  font-size: 1rem;
  .biggest-daily-match-header {
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 45%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }
  .biggest-daily-match-body {
    .biggest-daily-match-title {
      padding: .5rem .75rem;
      align-items: baseline;
      img {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
        transform: translateY(0.2em);
      }
      p {
        height: 3em;
        margin: 0;
      }
    }
    .biggest-daily-match-teams {
      margin-left: 1rem;
      font-weight: 800;
    }
    .biggest-daily-match-buttons {
      display: flex;
      margin-top: .5rem;
      flex-direction: row;
      align-items: center;
      padding: 0 .5rem;
      justify-content: space-around;
      .biggest-daily-match-button {
        width: 30%;
        background-color: var(--colors-yellow);
        padding: .3rem 1rem .5rem 1rem;
        border-radius: .5rem;
        border: none;
        font-size: .75rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: var(--colors-light-yellow);
        }
        p {
          margin: 0;
        }
        .biggest-daily-match-button-odds {
          font-weight: 800;
        }
      }
    }
  }
}