.left-container {
  display: flex;
  width: 20%;
  padding: 0 1rem;
}

.mid-container {
  display: flex;
  width: 60%;
  padding: 0 .5rem;
  .biggest-daily-matchs {
    margin-top: 1rem;
    width: 100%;
    height: 18rem;
    justify-content: space-between;
  }
}

.right-container {
  display: flex;
  width: 20%;
  padding: 0 1rem;
}