header {
  font-size: 1vw;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    height: 10%;
  }

  .preventHeadband {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--colors-white);
    font-size: 0.75em;
    text-align: center;
    margin: 0;
    padding: .6rem 1rem;
    height: 60%;
    
    @media screen and (max-width: 768px) {
      display: none;
    }

    h1 {
      font-size: 1.25em;
    }

    p, h1 {
      margin: 0;
    }

    a {
      color: var(--colors-red-salsa);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .navbar {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 1rem;
    background-color: var(--colors-red-salsa);
    font-size: .8em;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      height: 100%;
      font-size: 3em;
    }

    .navbar-left {
      display: flex;
      flex-direction: row;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        font-family: "Bison Bold", sans-serif;
        font-size: 1.5em;
        font-style: italic;
        margin-right: 1em;
        padding: 0 !important;
      }

      a {
        padding: .5rem 1rem;
        color: var(--colors-white);
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      > a {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .navbar-right {
      display: flex;
      flex-direction: row;

      .navbar-btn {
        margin: 0 .25rem;
      }

      .navbar-dark-button {
        background-color: var(--colors-dark-red-salsa);
        color: var(--colors-white);
        padding: 0.25em 1em;
        border-radius: 0.5rem;
        transition: .5s ease-in-out;
        &:hover {
          background-color: var(--colors-light-red-salsa);
          transition: .5s ease-in-out;
        }
      }

      .navbar-light-button {
        background-color: var(--colors-white);
        color: var(--colors-red-salsa);
        padding: 0.25em 1em;
        border-radius: 0.5rem;
        border: 2px solid transparent;
        transition: .5s ease-in-out;
        &:hover {
          background-color: transparent;
          border: 2px solid var(--colors-white);
          color: var(--colors-white);
          transition: .5s ease-in-out;
        }
      }
      a {
        padding: 0 1rem;
      }
    }
  }
}